---
repos:
  - repo: local
    hooks:
      - id: python-path
        name: check python path
        language: system
        entry: bash -c "which python || which python3"
        always_run: true
        exclude: ".*"
        verbose: true
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: "https://github.com/adrienverge/yamllint"
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: ['--strict']
        exclude: "config/metrics"
  - repo: "https://github.com/doublify/pre-commit-rust"
    rev: v1.0
    hooks:
      - id: clippy
        args:
          - --target-dir
          - /tmp/cargo
          - --
          - -Dwarnings
          - -Aclippy::new_without_default
  - repo: local
    hooks:
      - id: fmt
        name: rust-fmt
        language: system
        entry: hack/fmt
        files: \.rs
  - repo: "https://github.com/pre-commit/mirrors-mypy"
    rev: v1.4.1
    hooks:
      - id: mypy
  - repo: "https://github.com/astral-sh/ruff-pre-commit"
    rev: v0.4.2
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format
  - repo: "https://github.com/EmbarkStudios/cargo-deny"
    rev: 0.18.5
    hooks:
      - id: cargo-deny
        args: ["--all-features", "check", "licenses"]
  - repo: local
    hooks:
      - id: check-k8s
        name: Check Generated K8s YAML
        language: system
        entry: bash -c 'make kustomize && git diff --quiet'
        pass_filenames: false
        files: "sk-api/.*|k8s/.*|Cargo.toml"
      - id: check-validation-readme
        name: Check Validation README
        language: system
        entry: bash -c 'make validation_rules && git diff --quiet'
        pass_filenames: false
        files: "sk-cli/src/validation/.*"
