repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
      - id: check-yaml
      - id: trailing-whitespace
  - repo: https://github.com/golangci/golangci-lint
    rev: v1.53.3
    hooks:
      - id: golangci-lint
  - repo: https://github.com/drmorr0/go-carpet
    rev: 8857cfe
    hooks:
      - id: go-carpet
        args:
          - "-mincov=20"
