[package]
name = "simkube"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "sk-ctrl"
path = "ctrl/main.rs"

[[bin]]
name = "sk-driver"
path = "driver/main.rs"

[[bin]]
name = "sk-tracer"
path = "tracer/main.rs"

[lib]
name = "simkube"
path = "lib/rust/lib.rs"

[dependencies]
anyhow = "1.0.74"
chrono = "0.4.26"
clap = { version = "4.3.21", features = ["derive"] }
futures = "0.3.28"
k8s-openapi = { version = "0.19.0", features = ["v1_27"] }
reqwest = { version = "0.11.18", default-features = false, features = ["json", "rustls-tls"] }
rmp-serde = "1.1.2"
rocket = "=0.5.0-rc.3"
schemars = "0.8.12"
serde = "=1.0.171"
serde_json = "1.0.105"
serde_yaml = "0.9.25"
thiserror = "1.0.46"
tokio = { version = "1.28.2", features = ["macros", "rt-multi-thread", "signal"] }
tracing = "0.1.37"
tracing-subscriber = "0.3.17"
url = "2.4.1"

[dependencies.kube]
version = "0.85.0"
features = ["client", "derive", "runtime", "rustls-tls"]
default-features = false

[dev-dependencies]
rstest = "0.18.2"
