---
extends: default

rules:
  line-length:
    max: 120
  quoted-strings:
    required: only-when-needed
    extra-required: [^http://, ^https://]
    quote-type: double

ignore:
  - k8s/raw
  - k8s/kustomize
  - examples/metrics
