name: Publish Docs
on:
  push:
    paths:
      - 'docs/**'
      - 'README.md'
    branches:
      - 'master'
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger remote workflow
        run: |
          curl -X POST \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ secrets.WWW_TOKEN }}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          https://api.github.com/repos/acrlabs/www/actions/workflows/publish.yml/dispatches \
          -d '{"ref":"master","inputs":{}}'
