---
name: simkube end-to-end test
on:  # yamllint disable-line rule:truthy
  workflow_dispatch:
  pull_request:
    branches:
      - "main"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  IN_CI: "true"

jobs:
  launch-runner:
    uses: acrlabs/simkube-ci-actions/actions/launch-runner.yml@main
    with:
      ami-id: ami-0ac57be3bde538a47
      instance-type: c7a.xlarge
      aws-region: us-west-2
      subnet-id: subnet-0cd4625c825e73e61
      security-group-ids: sg-0fd593b495c5e0ffd
    secrets:
      SIMKUBE_RUNNER_PAT: ${{ secrets.SIMKUBE_RUNNER_PAT }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  simkube-e2e-test:
    needs: launch-runner
    runs-on: [self-hosted, simkube, ephemeral]
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive
      - name: Setup Builder
        uses: ./.github/actions/setup-builder
      - name: Build
        run: make
      - name: Run simulation
        uses: acrlabs/simkube-ci-action/actions/run-simulation@main
        with:
          simulation-name: test-cronjob-sim
          trace-path: examples/traces/cronjob.sktrace
