---
name: code verification
on: [push]  # yamllint disable-line rule:truthy
env:
  CARGO_INCREMENTAL: 0
  SCCACHE_GHA_ENABLED: "true"
  RUSTC_WRAPPER: sccache
  IN_CI: "true"

jobs:
  skctl:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
      - name: Check out repo and build scripts
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Run sccache
        uses: mozilla-actions/sccache-action@v0.0.3
      - name: Build skctl
        run: make skctl
      - name: Check version
        run: .build/skctl --version

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo and build scripts
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Run sccache
        uses: mozilla-actions/sccache-action@v0.0.3
      - name: Build
        run: make build
      - name: Regenerate CRDs
        run: .build/skctl crd > k8s/raw/simkube.io_simulations.yml
      - name: Check CRDs are clean
        uses: CatChen/check-git-status-action@v1
        with:
          fail-if-not-clean: true

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo and build scripts
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Run sccache
        uses: mozilla-actions/sccache-action@v0.0.3
      - name: rustfmt nightly
        run: |
          rustup toolchain install nightly-x86_64-unknown-linux-gnu
          rustup component add rustfmt --toolchain nightly-x86_64-unknown-linux-gnu
      - name: Run pre-commit
        uses: pre-commit/action@v3.0.1
      - name: Format Rust code
        run: make lint

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo and build scripts
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Run sccache
        uses: mozilla-actions/sccache-action@v0.0.3
      - name: Install grcov
        run: |
          curl -LO https://github.com/mozilla/grcov/releases/download/v0.8.18/grcov-x86_64-unknown-linux-gnu.tar.bz2
          tar -xjf grcov-x86_64-unknown-linux-gnu.tar.bz2
          mv grcov /usr/local/bin
      - name: Add llvm-tools
        run: rustup component add llvm-tools-preview
      - name: Test
        run: make test cover
      - name: Upload coverage
        uses: actions/upload-artifact@v3
        with:
          name: rust-coverage
          path: .build/coverage/rust-coverage.lcov

  check-coverage:
    runs-on: ubuntu-latest
    needs:
      - test
    steps:
      - name: Check out repo and build scripts
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Download coverage
        uses: actions/download-artifact@v3
      - name: Check coverage
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
